/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    font-family: "Open Sans", sans-serif;
}

main {
    background-color: black;
    color: white;
}

/* Layout */
.container {
    max-width: 1100px;
    width: 80%;
    margin: 0 auto;
}

/* Utility */

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.gap-30 {
    gap: 30px;
}

.py-20 {
    padding: 20px 0;
}

.py-50 {
    padding: 50px 0;
}

/* Header */

header {
    height: 120px;
    width: 100%;
}

.logo {
    display: inline-block;
    width: 80px;
}

.nav-font {
    font-size: 0.9rem;
    font-weight: 600;
}

nav a:hover{
    color: rgb(12, 125, 237);
}

/* Main */
.shop-banner {
    background-color: rgb(12, 125, 237);
}

.shop-banner img{
    width: 50px;
    height: 55px;
    vertical-align: middle;
    margin-right: 10px;
}

.shop-banner a{
    font-size: 0.8rem;
}