/* Custom Properties */
:root {
    /* === COLORS === */
    --clr-black: #000000;
    --clr-white: #ffffff;
    --clr-gray-light: rgb(148, 148, 148);
    --clr-gray-dark: rgb(48, 48, 48);
    --clr-blue: rgb(12, 125, 237);
}

/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    font-family: "Open Sans", sans-serif;
}

main {
    background-color: var(--clr-black);
    color: var(--clr-white);
}

/* Layout */
.container {
    max-width: 1100px;
    width: 80%;
    margin: 0 auto;
}

/* Utility */

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.gap-30 {
    gap: 30px;
}

.py-20 {
    padding: 20px 0;
}

.py-50 {
    padding: 50px 0;
}

.my-20 {
    margin: 20px 0;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.col-30 {
    width: 30%;
}


.col-40 {
    width: 40%;
}

/* Header */

header {
    height: 120px;
    width: 100%;
}

.logo {
    display: inline-block;
    width: 80px;
    flex-shrink: 0;
}

.nav-font {
    font-size: 0.9rem;
    font-weight: 600;
}

nav a:hover {
    color: var(--clr-blue);
}

.active {
    color: var(--clr-blue);
}

/* Main */
.shop-banner {
    background-color: var(--clr-blue);
}

.shop-banner img {
    width: 50px;
    height: 55px;
    vertical-align: middle;
    margin-right: 10px;
    flex-shrink: 0;
}

.shop-banner a {
    font-size: 0.8rem;
}

/* Footer */
footer {
    position: relative;
    background-image: url(./assets/img/dc-logo-bg.png), url(./assets/img/footer-bg.jpg);
    background-repeat: no-repeat, repeat;
    background-position: right 20% top -94px, left top;
    color: var(--clr-white);
    padding-top: 30px;
}

.bg-logo {
    position: absolute;
    left: 60%;
}

.bottom-footer {
    background-color: var(--clr-gray-dark);
}

footer h4 {
    margin-bottom: 15px;
    font-size: 1rem;
    color: var(--clr-white);
}

footer li {
    font-size: 0.8rem;
    color: var(--clr-gray-light);
    margin-bottom: 5px;
}

.sub-btn {
    display: inline-block;
    background-color: transparent;
    border: 2px solid var(--clr-blue);
    padding: 10px 15px;
    font-weight: 600;
    cursor: pointer;
}

.follow-font {
    color: var(--clr-blue);
    font-weight: bolder;
    font-size: 1.2rem;
}